.tab__container{
    padding-top: 80px;
}
.tab__wrapper{
    display: flex;
    justify-content: space-between;
    border:1px solid#C6CBCD;
    border-top: none;
    
}
.tab__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-left: 100px;
    padding-top: 53px;
    margin-bottom: 60px;
}
.tab__subtitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-left: 100px;
    padding-bottom: 27px;
}
.tab__img{
    width: 473px;
    height: 100%;
}
.tab__download{
    padding-left:100px;
    margin-bottom: 54px;
}
.tab__link{
    display: block;
    background-color: #EC7979;
    width: 270px;
    height: 58px;
    text-align: center;
    text-decoration: none;
    color:#FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-top: 18px;
}
.tab__link:hover{
    background-color: #AB4949;
}

.tab__head>input[type="radio"] {
    display: none;
}

.tab__head>div {
    display: none;
    border: 1px solid #C6CBCD;
}

#tab__btn-1:checked~#tab__content-1,
#tab__btn-2:checked~#tab__content-2,
#tab__btn-3:checked~#tab__content-3 {
    display: flex;
}

.tab__head>label{
    display: inline-block;
    text-align: center;
    user-select: none;
    border-radius: 5px 5px 0px 0px;
    padding: 2px 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    top: 2px;
    width: 201px;
    height: 40px;
    padding-top: 10px;
    color:#333333; 
    margin-top: 50px;
}

.tab__head>label:not(:first-of-type) {
    border-left: none;
}

.tab__head>input[type="radio"]:checked+label {
    background-color: #fff;
    border-top: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    
    
}
